.gacha{
    font-size:62.5%;
    background-color:#E9E9E9;
}

.wrapper{
    margin:2rem auto;
    text-align:center;
    width:500px;
    font-size:1rem;
    box-shadow:1px 1px 10px #CCC;
}

.gachaHead{
    padding:1rem;
    background-color: #03A9F4;
    color:#FFF;
    border-radius:3px 3px 0 0;
}
.gachaResult{
    padding: 2rem;
    background-color:#FFF;
    border-radius:0 0 3px 3px;
}

.btn{
    padding:0.5rem 1rem;
    color:#FFF;
    background-color:#FF80AB;
    border: none;
}

.btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}